@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog-container .mat-dialog-container {
  padding: 5px;
  min-width: 400px;
  // max-width: 320px;
  box-shadow: 12px 12px 9px rgb(68, 68, 67);
}

.cust-dialog-containerTwo .mat-dialog-container {
  padding: 5px;
  width: 1200px;
  // max-width: 320px;
  box-shadow: 12px 12px 9px rgb(68, 68, 67);
}
