<nb-card classe="card">
  <nb-card-header>
    <div class="DivIconClose">
        <nb-icon icon="close-outline" status="primary" matDialogClose class="IconClose"></nb-icon>
    </div>
    <div style="text-align: center;">
      Gestionnaire de clés
    </div>

</nb-card-header>
<nb-card-body>

  <div>
      <nb-card style="padding: 20px;">

        <div class="head">

          <div class="filtre">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>

          <div class="btn2">
              <button nbButton  status="primary" type="button" (click)="addKey()" >
                  <nb-icon icon="person-add-outline" status="basic" style="color: blanchedalmond;" ></nb-icon>
                  Ajouter une clé
              </button>

          </div>
        </div>


              <div class="mat-elevation-z8" >
                  <table mat-table [dataSource]="dataSource" MatSort class="mat-elevation-z8">

                      <ng-container matColumnDef="Id" class="IdColumn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Date-de-Creation" class="IdColumn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Creation </th>
                        <td mat-cell *matCellDef="let element"> {{element.dateCreation.substr(2,8)}} </td>
                      </ng-container>

                      <ng-container matColumnDef="DateDeValidite" class="IdColumn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> date de validitée </th>
                        <td mat-cell *matCellDef="let element"> {{element.dateDeValidite.substr(2,8)}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Validitée" class="IdColumn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Validite </th>
                        <td mat-cell *matCellDef="let element">
                          <div *ngIf="element.isValide; else elseBlock">Activé
                            <nb-icon icon="checkmark-square-2-outline" status="basic" style="color: rgb(25, 189, 3);"></nb-icon>
                          </div>
                          <ng-template #elseBlock>Desactivée
                            <nb-icon icon="close-square-outline" status="basic" style="color: rgb(192, 0, 0);"></nb-icon>
                          </ng-template>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="btn" class="IdColumn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header >Ajouter</th>
                        <td mat-cell *matCellDef="let element">
                          <button nbButton status="primary" (click)="select(element.id)">
                              <nb-icon icon="plus-circle-outline"></nb-icon>
                          </button>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="btnTwo" class="IdColumn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header >Modifier</th>
                        <td mat-cell *matCellDef="let element">
                          <button nbButton status="info" (click)="openDetail(element.id)">
                              <nb-icon icon="book-outline"></nb-icon>
                          </button>
                        </td>
                      </ng-container>



                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="row-tab" ></tr>

                    </table>
                     <mat-paginator [length]="total" [pageSizeOptions]="[10]" showFirstLastButtons (page)="onPage($event)"></mat-paginator>
              </div>
      </nb-card>
  </div>
</nb-card-body>

</nb-card>
