
  .DivIconClose{
    display : flex;
    margin-left : auto;
}

.IconClose{
    margin-left : auto;
     margin-right : -15px;
     margin-top: -9px;
 }
 .IconClose:hover{
  cursor: pointer;
 }
 table {
  width: 100%;
}

.IdColumn{
   margin-left:-500px;

}
.row-tab:hover{
  background-color: cornflowerblue;
  cursor: pointer;
}
.head {
  display: flex;
  justify-content: space-between;
}
