<nb-card>
  <nb-card-header>
    <div class="DivIconClose">
        <nb-icon icon="close-outline" status="primary" matDialogClose class="IconClose"></nb-icon>
    </div>
    <div style="text-align: center;">
      Selectionner la date de fin
    </div>

</nb-card-header>


  <mat-form-field appearance="fill">
    <mat-label>Choisissez la date</mat-label>
     <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="date"
      (ngModelChange)="changeDate($event)"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button  nbButton  type="button" status="success" (click)="send()" >
    <nb-icon icon="done-all-outline"  ></nb-icon>
    Valider
  </button>
</nb-card>


