.nbCard{
  display: flex;
  max-width: 100%;
}
.ButtonDelete{
  // display: flex;
  margin-left: -7%;
   margin-top: -12%;
  max-width: 150px;

}

.Divid{
  margin-bottom: 7%;
}

.Divdate{
  margin-bottom: 7%;
}

.Divvalide{
  margin-bottom: 7%;
}

// .AnnulerBouton{
//     //   display : flex;
//       // margin-right : -10%;
//     // // margin-top: 10%;
// }

.DivIconClose{
  display : flex;
  margin-left : auto;
}

.IconClose{
  margin-left : auto;
   margin-right : -15px;
   margin-top: -9px;
}

.IconClose:hover{
cursor: pointer;
}

.ButtonModif{
  display: flex;
  margin-top: -10px;
  margin-left: 55%;
  max-width: 150px;

}


.icon{
  margin-right: 5%;
}
@media only screen and (max-width: 1100px){
  .DeletBouton{
      display : flex;
     margin-left : 65%;
      margin-top: -9%;

}

@media only screen and (max-width: 560px){
  .DeletBouton{
       display : flex;
      margin-left : 1%;
      margin-top: 9%;

}
}
}

.buttonv{
margin: 5px;
}
