.DivIconClose{
    display : flex;
    margin-left : auto;
}

.IconClose{
    margin-left : auto;
     margin-right : -15px;
     margin-top: -9px;
 }

 .IconClose:hover{
  cursor: pointer;
 }
 table{
   width: 100%;
 }
 .foot{
   display: flex;
   justify-content: space-between;
 }
