<nb-card>

    <nb-card-header>
        <div class="DivIconClose">
            <nb-icon icon="close-outline" status="primary" matDialogClose class="IconClose"></nb-icon>
        </div>
        <div style="text-align: center;">
            Le client a déjà une ou plusieurs clés, en ajouter une ?
        </div>

    </nb-card-header>
    <nb-card-body>

        <div class="mat-elevation-z8" >
            <table mat-table [dataSource]="dataSource" MatSort class="mat-elevation-z8">

                <ng-container matColumnDef="Id" class="IdColumn">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header > Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="btn" class="IdColumn">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >Supprimer</th>
                  <td mat-cell *matCellDef="let element"><button nbButton status="danger" (click)=" Delete(element.id);"><nb-icon icon="trash-2-outline"></nb-icon></button></td>

                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="row-tab" ></tr>

              </table>
               <!-- <mat-paginator [length]="total" [pageSizeOptions]="[10]" showFirstLastButtons (page)="onPage($event)"></mat-paginator>  -->
        </div>



    </nb-card-body>

    <nb-card-footer class="foot">
        <div>
            <button nbButton matDialogClose class="AnnulerBouton" status="info"> <nb-icon icon="undo-outline" status="danger"></nb-icon>Non</button>
          </div>
          <div>
            <button nbButton   status="warning" class="DeletBouton" (click)="openAddKey();"><nb-icon icon="plus-outline" status="primary"></nb-icon>Oui</button>
        </div>
    </nb-card-footer>

</nb-card>

