
<div>
  <h3>Gestionnaire de clients</h3>
    <nb-card  style="padding: 20px;">
      <div class="head">

        <div class="divbtn1">
            <button nbButton status="warning" type="button" routerLink="cles">
            <nb-icon icon="plus-outline" status="basic" ></nb-icon>
            Gestionnaire de licences
        </button>
        </div>

        <div class="divfiltre">
          <mat-form-field >
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Recherche">
          </mat-form-field>
        </div>

        <div  class="divbt2">
        <button nbButton  status="warning" type="button" (click)="open()" >
          <nb-icon icon="person-add-outline" status="basic" ></nb-icon>
          Ajouter un client
        </button>

      </div>
      </div>



            <div class="mat-elevation-z8" >
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <ng-container matColumnDef="Id" class="IdColumn">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header > Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.adresseMail}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Prenom">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
                      <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Nom">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                    </ng-container>

                      <ng-container matColumnDef="Nom de Société">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de Société </th>
                        <td mat-cell *matCellDef="let element"> {{element.nomsociete}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Bouton">
                        <th mat-header-cell *matHeaderCellDef></th>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="row-tab" (click)="openDetail(element.id)" ></tr>

                  </table>
                   <mat-paginator [length]="total" [pageSizeOptions]="[10]" showFirstLastButtons (page)="onPage($event)"></mat-paginator>
            </div>
    </nb-card>
</div>
