.nbCard{
    display: flex;
    max-width: 100%;
}
.DeletBouton{
    //   display : flex;
       margin-left : 35%;
    //   margin-top: -5%;
    
     
}

.AnnulerBouton{
    //   display : flex;
      // margin-right : -10%;
    // // margin-top: 10%;
}

.DivIconClose{
    display : flex;
    margin-left : auto;
}

.IconClose{
    margin-left : auto;
     margin-right : -15px;
     margin-top: -9px;
 }
 .IconClose:hover{
  cursor: pointer;
 }
 table {
    
     width: 100%;
  }
  .IdColumn{
    width: 50px;
    // margi-right: 50px;

  }
  .EmailColumn{
    
    width: 250px;
    max-width: 250px;
    
  
  }
  .PrenomColumn{
    margin-left: 50px;
    width: 200px;
    max-width: 250px;
  

  }
  .NomColumn{
    width: 200px;
    max-width: 250px;

  }

  .icon{
    margin-right: 5%;
}
  .NomSocieteColumn{
    width:200px;
    max-width: 250px;

  }
  @media only screen and (max-width: 1100px){
    .DeletBouton{
        display : flex;
       margin-left : 65%;
        margin-top: -9%;
       
  }

  @media only screen and (max-width: 560px){
    .DeletBouton{
         display : flex;
        margin-left : 1%;
        margin-top: 9%;
       
  }
  }
}
  