<nb-card class="nbCard">
    <nb-card-header>
        <div class="DivIconClose">
            <nb-icon icon="close-outline" status="primary" matDialogClose class="IconClose"></nb-icon>
        </div>
        <div><h6>Voullez vous vraiment supprimer le client :  </h6></div>
    </nb-card-header>

    <nb-card-body>
        <div>
          Email : {{Client.adresseMail}}
          <br>
          Nom : {{Client.nom}}
          <br>
          Prénom : {{Client.prenom}}
          <br>
          Nom de société : {{Client.nomsociete}}
            
        </div>
        
    </nb-card-body>

    <nb-card-footer>
        <div>
            <button nbButton matDialogClose class="AnnulerBouton" status="info"> <nb-icon icon="undo-outline" status="danger"></nb-icon>Non</button>
            <button nbButton  status="danger" class="DeletBouton" (click)="Supprimer();"><nb-icon icon="trash-2-outline" status="primary"></nb-icon>Oui</button>
        </div>
        
    </nb-card-footer>
    
    
</nb-card>
