table {
    width: 100%;
  }

  .IdColumn{
    // width: 25%;

  }
  .row-tab:hover{
    background-color: cornflowerblue;
    cursor: pointer;
  }
  .head {
    display: flex;
    justify-content: space-between;
  }
 
