<nb-card>

    <nb-card-header>
        <div class="DivIconClose">
            <nb-icon icon="close-outline" status="primary" matDialogClose class="IconClose"></nb-icon>
        </div>
        <div style="text-align: center;">
            Suppression de la clés :
        </div>

    </nb-card-header>
    <nb-card-body>

        <form [formGroup]="formDetail" #formDirective="ngForm">
            <div class="Divid" >
                <nb-icon class="icon" icon="hash-outline" style="color: black;"></nb-icon>
                <mat-form-field  style="width: 85%;">
                    <mat-label>id</mat-label>
                    <input matInput [formControl]="formDetail.get('id')" readonly >
                    <mat-hint></mat-hint>
                  </mat-form-field>
            </div>

            <div class="Divdate" >
                <nb-icon class="icon" icon="calendar-outline" style="color: black;"></nb-icon>
                <mat-form-field  style="width: 85%;">
                    <mat-label>Date de cration</mat-label>

                     <input matInput [formControl]="formDetail.get('DateCreation')" readonly>
                    <mat-hint></mat-hint>
                  </mat-form-field>
            </div>

            <div class="Divdate" >
              <nb-icon class="icon" icon="calendar-outline" style="color:rgb(4, 18, 153);"></nb-icon>
              <mat-form-field  style="width: 85%;">
                <mat-label>Date De Fin</mat-label>
                 <input [formControl]="formDetail.get('dateDeValidite')" matInput [matDatepicker]="myPicker"  placeholder="">
                <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
                <mat-datepicker #myPicker></mat-datepicker>

                   <mat-hint></mat-hint>
                </mat-form-field>
          </div>

            <div class="DivValide">
              <nb-icon class="icon" icon="toggle-right-outline" style="color: rgb(4, 18, 153);"></nb-icon>
              <label>Etat :  </label>
                    <mat-radio-group [formControl]="formDetail.get('isValide')">
                      <mat-radio-button class="buttonv"  [value]="true" >Activée  </mat-radio-button>
                      <mat-radio-button  [value]="false" >Désactivée</mat-radio-button>
                    </mat-radio-group>
            </div>

        </form>

    </nb-card-body>
    <nb-card-footer class="foot">
        <div class="ButtonModif">
            <button nbButton name="enablebutton" status="info" (click)="enregistrer()">
                <nb-icon icon="edit-2-outline" ></nb-icon>
                Enregistrer
            </button>
        </div>
        <div class="ButtonDelete">

            <button  nbButton  type="button" status="danger" (click)="Delete()" >
                <nb-icon icon="trash-2-outline"  ></nb-icon>
                SUPPRIMER
              </button>
        </div>

    </nb-card-footer>
</nb-card>


