.nbCard{
    display: flex;
    max-width: 100%;
}

.Divid{
    margin-bottom: 7%;
}

.Divdate{
    margin-bottom: 7%;
}

.Divvalide{
    margin-bottom: 7%;
}


.DivIconClose{
    display : flex;
    margin-left : auto;
}

.IconClose{
    margin-left : auto;
     margin-right : -15px;
     margin-top: -9px;
 }

 .IconClose:hover{
  cursor: pointer;
 }

  .icon{
    margin-right: 5%;
}
.buttonv{
  margin: 5px;
}
.foot{
  display: flex;
  justify-content: space-between;
}
