
.DivEmail{
    margin-bottom: 7%;
}

.DivNom{
    margin-bottom: 7%;
}

.DivPrenom{
    margin-bottom: 7%;
}

.DivNomSociete{
    margin-bottom: 7%;
}

.DivIconClose{
    // display : flex;
    // margin-left : auto;
    text-align: right;
}

.IconClose:Hover{
    cursor: pointer;
}


.foot{
  display: flex;
  justify-content: space-between;
}


.icon{
    margin-right: 5%;
}
.openKeyBtn{
  text-align: center;
}
