<nb-card>

    <nb-card-header>
        <div class="DivIconClose">
            <nb-icon icon="close-outline" status="primary" matDialogClose class="IconClose"></nb-icon>
        </div>
        <div style="text-align: center;">
            Modification d'un client
        </div>

    </nb-card-header>
    <nb-card-body>

        <form [formGroup]="formDetail" #formDirective="ngForm" (ngSubmit)="onFormSubmit(formDirective)">
            <div class="DivEmail" >
                <nb-icon class="icon" icon="email-outline" style="color: black;"></nb-icon>
                <mat-form-field  style="width: 85%;">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="formDetail.get('AdresseMail')"
                           placeholder="Ex. pat@example.com">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="formDetail.get('AdresseMail').hasError('email') && !formDetail.get('AdresseMail').hasError('required')">
                        Veuillez entre une Email <strong>valide</strong> : Ex.pat@test.com
                    </mat-error>
                    <mat-error *ngIf="formDetail.get('AdresseMail').hasError('required')">
                     Veuillez entrer une Email : Ex. pat@test.com
                    </mat-error>
                  </mat-form-field>
            </div>


            <div class="DivNom" >
                <nb-icon class="icon" icon="person-outline" style="color: black;"></nb-icon>
                <mat-form-field  style="width: 85%;">
                    <mat-label>Nom</mat-label>
                    <input matInput [formControl]="formDetail.get('Nom')"
                           placeholder="Ex. Ledoux">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="formDetail.get('Nom').hasError('pattern') && !formDetail.get('Nom').hasError('required')">
                      Veuillez entre un nom <strong>valide</strong> : Ex. Ledoux
                    </mat-error>
                    <mat-error *ngIf="formDetail.get('Nom').hasError('required')">
                      Veuillez entrer un nom
                    </mat-error>
                  </mat-form-field>
            </div>

            <div class="DivPrenom">
                <nb-icon class="icon" icon="person-outline" style="color: black;"></nb-icon>
            <mat-form-field  style="width: 85%;">
                <mat-label>Prénom</mat-label>
                <input matInput [formControl]="formDetail.get('Prenom')"
                       placeholder="Ex. Alfred">
                <mat-hint></mat-hint>
                <mat-error *ngIf="formDetail.get('Prenom').hasError('pattern') && !formDetail.get('Prenom').hasError('required')">
                    Veuillez entre Un prénom <strong>valide</strong> : Ex. Alfred
                </mat-error>
                <mat-error *ngIf="formDetail.get('Prenom').hasError('required')">
                    Veuillez entrer un prénom
                </mat-error>
              </mat-form-field>
            </div>

            <div class="DivNomSociete">
                <nb-icon class="icon" icon="briefcase-outline" style="color: black;"></nb-icon>
                <mat-form-field  style="width: 85%;">
                    <mat-label>Nom de société</mat-label>
                    <input matInput [formControl]="formDetail.get('NomSociete')"
                     placeholder="EX. La Vente SPRL">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="formDetail.get('NomSociete').hasError('pattern') && !formDetail.get('NomSociete').hasError('required')">
                    Veuillez entre Un Nom de société <strong>valide</strong> : Ex. La Vente SPRL
                    </mat-error>
                    <mat-error *ngIf="formDetail.get('NomSociete').hasError('required')">
                        Veuillez entrer un Nom de société
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="openKeyBtn">
            <button  nbButton  type="button" status="primary" (click)="openAddKey(id.id)" >
                <nb-icon icon="archive-outline"  ></nb-icon>
                Clés
              </button>
        </div>

      </form>

    </nb-card-body>

    <nb-card-footer class="foot">

      <div class="ButtonSave">

          <button class="Buttonsaveb" *ngIf="!forulaireSatus" nbButton (click)="send()"  status="warning">
             <nb-icon icon="save-outline" style="color:blanchedalmond;"></nb-icon>
             SAUVEGARDER
         </button>
     </div>


        <div class="ButtonModif">
            <button name="enablebutton" *ngIf="forulaireSatus" nbButton (click)="enableButton();"status="info">
                <nb-icon icon="edit-2-outline" ></nb-icon>
                Mode Edition
            </button>
        </div>

        <div class="ButtonDelete">

            <button  nbButton  type="button" status="danger" (click)="openDelete(id.id)" >
                <nb-icon icon="trash-2-outline"  ></nb-icon>
                SUPPRIMER
              </button>
        </div>
    </nb-card-footer>

</nb-card>
