<nb-card style="width: 100%;">

    <nb-card-header>
        <div class="DivIconClose">
            <nb-icon icon="close-outline" status="primary" matDialogClose class="IconClose"></nb-icon>
        </div>
        <div style="text-align: center;">
            Création d'un client 
        </div>

    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onFormSubmit(formDirective)">
            <div class="DivEmail" >
                <nb-icon class="icon" icon="email-outline" style="color: black;"></nb-icon> 
                <mat-form-field style="width: 85%;">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="form.get('AdresseMail')" 
                           placeholder="Ex. pat@example.com">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="form.get('AdresseMail').hasError('email') && !form.get('AdresseMail').hasError('required')">
                        Veuillez entre une Email <strong>valide</strong>: Ex. pat@test.com
                    </mat-error>
                    <mat-error *ngIf="form.get('AdresseMail').hasError('required')">
                     Veuillez entrer une adresse Email
                    </mat-error>
                  </mat-form-field>
            </div> 
            
            <div class="DivNom" >
                <nb-icon  class="icon" icon="person-outline" style="color: black;"></nb-icon> 
                <mat-form-field  style="width: 85%;">
                    <mat-label>Nom</mat-label>
                    <input matInput [formControl]="form.get('Nom')" 
                           placeholder="Ex. Ledoux">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="form.get('Nom').hasError('pattern') && !form.get('Nom').hasError('required')">
                      Veuillez entre Un nom <strong>valide</strong> : Ex. Ledoux
                    </mat-error>
                    <mat-error *ngIf="form.get('Nom').hasError('required')">
                      Veuillez entrer un nom 
                    </mat-error>
                  </mat-form-field>
            </div>
            
            <div class="DivPrenom">
                <nb-icon class="icon" icon="person-outline" style="color: black;"></nb-icon> 
            <mat-form-field  style="width: 85%;">
                <mat-label>Prénom</mat-label>
                <input matInput [formControl]="form.get('Prenom')" 
                       placeholder="Ex. Alfred">
                <mat-hint></mat-hint>
                <mat-error *ngIf="form.get('Prenom').hasError('pattern') && !form.get('Prenom').hasError('required')">
                    Veuillez entre Un Prénom <strong>valide</strong> : Ex. Alfred
                </mat-error>
                <mat-error *ngIf="form.get('Prenom').hasError('required')">
                    Veuillez entrer un Prénom
                </mat-error>
              </mat-form-field>
            </div>

            <div class="DivNomSociete">
                <nb-icon class="icon" icon="briefcase-outline" style="color: black;"></nb-icon> 
                <mat-form-field  style="width: 85%;">
                    <mat-label>Nom de Société</mat-label>
                    <input matInput [formControl]="form.get('NomSociete')" 
                     placeholder="EX. La Vente SPRL">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="form.get('NomSociete').hasError('pattern') && !form.get('NomSociete').hasError('required')">
                    Veuillez entre Un Nom de Société <strong>valide</strong> : Ex. La Vente SPRL
                    </mat-error>
                    <mat-error *ngIf="form.get('NomSociete').hasError('required')">
                        Veuillez entrer un Nom de Société
                    </mat-error>
                  </mat-form-field>
            </div>

            <div class="ButtonSave">
                 
                <button nbButton type="submit"  status="warning">
                    <nb-icon icon="save-outline" style="color: blanchedalmond;"></nb-icon>
                    SAUVEGARDER
                </button>
            </div>

        </form>    
    </nb-card-body>
</nb-card>