
.DivEmail{
    margin-bottom: 7%;
}
.DivNom{
    margin-bottom: 7%;
}

.DivPrenom{
    margin-bottom: 7%;
}

.DivNomSociete{
    margin-bottom: 7%;
}

.ButtonSave{
    
    display: flex;
    flex-direction: row-reverse;
    margin-right: -2%;
    font-size:small;
}

.DivIconClose{
    text-align: right;
}



.IconClose:hover{
    cursor: pointer;
}

.icon{
    margin-right: 5%;
}